body {
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 32px;
}


ul li a {
  text-decoration: none;
  color: inherit;
}


header > img {
  width: 100px;
}

.ingredients-list {

  list-style: square inside;
}

ol {
  list-style: upper-roman inside;

}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"], select, input [type="submit"] {
    cursor: pointer;
    outline: none;
    background-image: url(../assets/stars.png);
 vertical-align: bottom;

  }

  input:last-child {
        background-color: gold;
  }

  input:last-child:hover {
      -webkit-filter: brightness(90%);
  }


ol li:nth-of-type(2n) {
  background-color: purple;
}


h2 + .user_review {
    border-top: 100px solid black;
}
